.list-element {
	position: relative;
	width: 14em;
	height: 24em;
	margin: 0.4em;
	display: flex;
	flex-direction: column;
	border: 0.15em solid rgb(37, 37, 37);
	background-color: rgb(182, 182, 182);
	border-radius: 0.5em;
}

.tag-container {
	position: absolute;
	margin: 0.5em 0 0 0.5em;
}

.text-container {
	font-size: 1.5em;
	padding: 0.5em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* flex-grow: 1; */
	height: 50%;
	margin-top: 0.5em;
}

.title {
}

.old-price {
	color: gray;
	font-size: 0.9em;
	margin-top: 0.4em;
}

.price-container {
	margin: 0.5em;
	font-weight: bold;
}

.price {
	margin-top: 0.5em;
}

.product-img {
	height: 50%;
	width: 100%;
	object-fit: contain;
	margin-top: 1em;
}

.product-tag {
	padding: 0.3em 1.1em 0.3em 1.1em;
	background-color: rgb(51, 184, 51);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.3em;
	margin-bottom: 0.3em;
}
